.footer-container 
  .footer-footer
    label.left Country
      i.fas.fa-globe
      
    label.center Contact Us
      
    label.right H.R. 2021
      li
        a(href="#")  
          i.fab.fa-facebook
        a(href="#") 
          i.fab.fa-chrome
        a(href="#") 
          i.fab.fa-linkedin
        a(href="#")  
          i.fab.fa-telegram-plane
      
  .footer-body 
    .footer-right
      label.products Products
        li HR HUb 
        li Leave 
        li Times
      label.resources Resources
        li Library
        li Blog
        li Help Center
      label.company Company
        li About Us
        li Customers 
        li Contact Us 
      label.legal Legal 
        li Terms 
        li Privacy 
        li Security

    .footer-left 
      .footer-description
        h1
          a(href="/").logo H.R.
        p.des11 People operations platform 
        p.des12 The people platform for payroll, benefits, claims and much more.
        img(src="/static/images/appstore.png", alt="AppStore").appstore
        img(src="/static/images/googleplay.png", alt="GooglePlay").googleplay