include header.pug
    
.container 
    .box-rec 
        span.rec1  
            img(src="/static/images/Rectangle.svg", alt="1")
        span.rec2 
            img(src="/static/images/Rectangle1.svg", alt="2")
        span.rec3
            img(src="/static/images/Rectangle2.svg", alt="3")
        span.rec4   
            img(src="/static/images/Rectangle3.svg", alt="4")
        span.rec5 
            img(src="/static/images/Rectangle4.svg", alt="5")
        span.rec6 
            img(src="/static/images/Rectangle5.svg", alt="6")
        span.rec7 
            img(src="/static/images/Rectangle6.svg", alt="7")
        span.rec8 
            img(src="/static/images/Rectangle7.svg", alt="8")
    
    
    
    .text
        p.des1 People operations platform 
        h1.des2 For HR people who do everything
        .link-element 
            a(href="/newemployee").link Create new employee  

include footer.pug
    