doctype html
html(lang="en")
  head
    title Log In 
    link(rel="stylesheet", href="/static/styles/login.css")
  body 
    .login-box 
      h1 Log In 
      .textbox
        i.fas.fa-user
        input(type="text" placeholder="Username")
      .textbox
        i.fas.fa-lock 
        input(type="text" placeholder="Password")
      
      input(type="button" value="Sign In").btn

      p.info If you don't have account,
        a(href="/signup") Create Account

      a(href="/").back Back
        