header.navbar 
        include logo   
        nav.menu 
            a(href="/products") Products
            a(href="/about") About 
            a(href="/partners") Partners 
            a(href="/career") Career
        nav.nav  
            a(href="/login").btn-log-in Log in 
            a(href="/signup")#btn-sign-up Sign Up 