include headerEmpl.pug  
.container 
  h1 Create new employee 
    if error 
      p.error Something went wrong! Try again!
    if success 
      p.success New employee is saved!

  form(action="/newemployee", method="post")
    label(for="name").name Name:
    br
    input.form-control(type="text", placeholder='Ex. Abdulla' name='name')
    br

    label(for="surname").surname Surname: 
    br 
    input.form-control(type="text" placeholder="Ex. Hakimov" name='surname')
    br

    label(for="dob").dob Date of Birth: 
    br
    input.form-control(type="date" name='dob')
    br

    label(for="education").education Education (Highest Degree):
    br
    select.form-control(name="education")
      option(value="") Select Education level  
      option(value="NoEducation") No Education 
      option(value="Associate") Associate Degree
      option(value="Bachelor") Bachelor's Degree
      option(value="Master") Master's Degree
      option(value="Doctoral") Doctoral Degree
    br
    label(for="position") Position
    br
    input.form-control(type="text" placeholder="Ex. Accountant" name='position')
    br
    button#add-btn.form-control(type='submit') Submit
      

